<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Облік відряджень</title>

    <link th:href="@{/css/material_icons.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav th:replace="elements/header::header">
</nav>
<img src="/images/background.png" height="500px" width="100%" style="z-index: 0;">
<footer th:replace="elements/footer :: footer"></footer>
</body>
</html>