<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        body{
            margin:8px 0;
        }
        table {
            width: 100%;
        }

        tbody tr {
            padding-bottom: 20px;
        }
        td{
            position: relative;
            left:25px;
        }
    </style>
</head>
<body>
<p style="text-align: center; font-size: 1.5em; font-weight: bold; margin-top: 50px;">СПИСОК АВАНСОВИХ ЗВІТІВ</p>
<table class="table table-striped table-dark" style="margin-top: 25px;">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Сума за проїзд</th>
        <th scope="col">Резервування місць</th>
        <th scope="col">Проживання в готелі</th>
        <th scope="col">Телефонні розмови</th>
        <th scope="col">Сума проживання</th>
        <th scope="col">Дата</th>
    </tr>
    </thead>
    <tbody th:each="prepaymentReport : ${prepaymentReports}">
    <tr>
        <th scope="row" th:text="${prepaymentReport.id}"></th>
        <td th:text="${prepaymentReport.fare}"></td>
        <td th:text="${prepaymentReport.seatReservation}"></td>
        <td th:text="${prepaymentReport.hotelAccommodation}"></td>
        <td th:text="${prepaymentReport.telephoneConversations}"></td>
        <td th:text="${prepaymentReport.sumPerDiems}"></td>
        <td th:text="${prepaymentReport.preparationDate}"></td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">
    <!--
    window.print();
    //-->
</script>
</body>
</html>