<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Співробітники</title>
    <link th:href="@{/css/material_icons.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script>
        function filter() {
            var department = document.getElementById("department").value;
            var position = document.getElementById("position").value;
            var andState = false;
            document.getElementById("filter").href = "/admin/users";
            if (department !== "") {
                document.getElementById("filter").href += "?department=" + department;
                andState = true;
            }
            if (position !== "") {
                if (andState) {
                    document.getElementById("filter").href += "&position=" + position;
                } else {
                    document.getElementById("filter").href += "?position=" + position;
                }
            }
        }

        function print() {
            var location = document.location.href;
            document.getElementById("print").href = location.split("?")[0] + "/print?" + location.split("?")[1];
        }
    </script>
</head>
<body>
<nav th:replace="elements/header::header"></nav>
<div class="row" style="margin-left: 300px;">
    <div class="input-field col s3 lighten-4">
        <select id="department">
            <option value="" hidden>Відділ</option>
            <option th:each="department:${departments}"
                    th:value="${department.id}" th:text="${department.name}"></option>
        </select>
    </div>
    <div class="input-field col s3 lighten-4">
        <select id="position">
            <option value="" hidden>Посада</option>
            <option th:each="position:${positions}"
                    th:value="${position.id}" th:text="${position.name}"></option>
        </select>
    </div>
    <a href="#" id="filter" class="btn waves-effect indigo col s1"
       style="position: relative; top: 10px;left: 5px; z-index: 0;"
       onclick="filter()">Фільтр</a>
    <a href="#" id="print" class="btn waves-effect indigo col s1"
       style="position: relative; top: 10px;left: 20px; z-index: 0;"
       onclick="print()">Зберегти</a>
</div>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Прізвище</th>
        <th scope="col">Ім'я</th>
        <th scope="col">По-батькові</th>
        <th scope="col">Відділ</th>
        <th scope="col">Посада</th>
    </tr>
    </thead>
    <tbody th:each="user : ${users}" style="overflow: scroll;">
    <tr>
        <th scope="row" th:text="${user.id}"></th>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.patronymic}"></td>
        <td th:text="${user.department.name}"></td>
        <td th:text="${user.position.name}"></td>
        <td><a th:href="'/user/' + ${user.id}" class="btn waves-effect indigo" style="z-index: 0;">Перейти</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="elements/footer :: footer"></footer>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-2.1.1.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/materialize.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/init.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/main.js}"></script>
<script>
    $(document).ready()
    {
        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            format: 'yyyy-mm-dd'
        });
    }
</script>
</body>
</html>